extends layout

block content
  h3 Example creation usage:
  p https://little-url.herokuapp.com/new/https://www.google.com
  p https://little-url.herokuapp.com/new/http://foo.com:80
  h3 Example creation output
  p { "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }
  h3 Usage: 
  p https://little-url.herokuapp.com/2871
  h3 Will redirect to: 
  p https://www.google.com/
